**Python Homework 3**

```
# Problem 1:
請參考並改寫下列 Python 程式 (fill_table_2d(list2d))，
可以將一維串列資料依序填入 HTML 表格中，同時能指定每列(row)顯示的元素個數。

def fill_table(data, cols):
    pass
其中，data 為一維串列資料，cols 表示每列包含的元素個數。    
```
![fille_table_2d](./images/Code-fille_table_2d.jpg)

In [17]:
# ANSWER NO 1:

def fill_table_2d(data, cols):
    html = "<table>\n"
    
    for i in range(0, len(data), cols):
        html += "<tr>\n"
        for j in range(i, min(i + cols, len(data))):
            html += f"<td>{data[j]}</td>\n"  
        html += "</tr>\n"

    html += "</table>"
    return html

data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
cols = 4
table_html = fill_table_2d(data, cols)
print(table_html)

<table>
<tr>
<td>1</td>
<td>2</td>
<td>3</td>
<td>4</td>
</tr>
<tr>
<td>5</td>
<td>6</td>
<td>7</td>
<td>8</td>
</tr>
<tr>
<td>9</td>
<td>10</td>
<td>11</td>
<td>12</td>
</tr>
</table>

In [ ]:
# Problem 2:

已知資料 data 如下:   
data = '''
國立臺北科技大學,互動設計系,50,29
國立臺北科技大學,創意設計學士班,13,0
國立臺北科技大學,工業設計系,42,17
國立臺北科技大學,文化事業發展系,26,9
國立臺北科技大學,應用英文系,33,10
國立臺北科技大學,經營管理系,36,20
國立臺北科技大學,資訊與財金管理系,28,35
國立臺北科技大學,資訊工程系,9,54
國立臺北科技大學,化學工程與生物科技系,34,91
國立臺北科技大學,分子科學與工程系,14,26
國立臺北科技大學,材料及資源工程系,23,77
國立臺北科技大學,能源與冷凍空調工程系,1,43
'''

請撰寫 Python 程式，將上述資料拆解後，存入二維陣列 lst2d 中。

In [14]:
# ANSWER NO 2

data = '''
國立臺北科技大學,互動設計系,50,29
國立臺北科技大學,創意設計學士班,13,0
國立臺北科技大學,工業設計系,42,17
國立臺北科技大學,文化事業發展系,26,9
國立臺北科技大學,應用英文系,33,10
國立臺北科技大學,經營管理系,36,20
國立臺北科技大學,資訊與財金管理系,28,35
國立臺北科技大學,資訊工程系,9,54
國立臺北科技大學,化學工程與生物科技系,34,91
國立臺北科技大學,分子科學與工程系,14,26
國立臺北科技大學,材料及資源工程系,23,77
國立臺北科技大學,能源與冷凍空調工程系,1,43
'''

lines = data.strip().split('\n')
lst2d = []


for line in lines:
    # Split each line by commas and add to the 2D list
    lst2d.append(line.split(','))

for row in lst2d:
    print(row)

['國立臺北科技大學', '互動設計系', '50', '29']
['國立臺北科技大學', '創意設計學士班', '13', '0']
['國立臺北科技大學', '工業設計系', '42', '17']
['國立臺北科技大學', '文化事業發展系', '26', '9']
['國立臺北科技大學', '應用英文系', '33', '10']
['國立臺北科技大學', '經營管理系', '36', '20']
['國立臺北科技大學', '資訊與財金管理系', '28', '35']
['國立臺北科技大學', '資訊工程系', '9', '54']
['國立臺北科技大學', '化學工程與生物科技系', '34', '91']
['國立臺北科技大學', '分子科學與工程系', '14', '26']
['國立臺北科技大學', '材料及資源工程系', '23', '77']
['國立臺北科技大學', '能源與冷凍空調工程系', '1', '43']

```
# Problem 3:
請至政府開放資料平台，使用關鍵字"大專院校各校科系別學生數"，讀取"112學年大專院校各校科系別學生數（CSV檔）"。
接著請找出我們學校中有日間部四技的系，將校名、系別與新生人數(含男女生)，填入 HTML 的表格中，部分輸出結果如下圖所示。
(可以使用 requests 或 pandas 來讀取資料檔案。)
```
![北科部分科系的新生人數](./images/TaipeiTech-Departments.jpg)

In [13]:
# ANSWER NO 3

import requests
import pandas as pd

# 下載 CSV 檔案
url = "https://stats.moe.gov.tw/files/detail/112/112_students.csv"
response = requests.get(url)
response.encoding = 'utf-8'

with open("112_students.csv", "w", encoding='utf-8') as f:
    f.write(response.text)

# 使用 pandas 讀取 CSV 檔案
df = pd.read_csv("112_students.csv")

# 篩選出我們學校的日間部四技資料
our_school = "國立臺北科技大學"
our_school_data = df[
    (df["學校名稱"] == our_school)
    & (df["日間∕進修別"] == "D 日")
    & (df["等級別"] == "B 四技")
]

# 建立 HTML 表格
html_table = """
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>112學年國立臺北科技大學日間部四技新生人數</title>
</head>
<body>

<h1>112學年國立臺北科技大學日間部四技新生人數</h1>
<table border="1">
    <tr>
        <th>校名</th>
        <th>系別</th>
        <th>一年級男生</th>
        <th>一年級女生</th>
    </tr>
    {}
</table>
</body>
</html>
"""

# 將資料填入 HTML 表格中
table_rows = []
for index, row in our_school_data.iterrows():
    table_rows.append(
        f"""
    <tr>
        <td>{row['學校名稱']}</td>
        <td>{row['科系名稱']}</td>
        <td>{row['一年級男生']}</td>
        <td>{row['一年級女生']}</td>
    </tr>
    """
    )

# 將表格列資料填入 HTML 表格中
html_table = html_table.format("".join(table_rows))

# 輸出 HTML 檔案
with open("112_our_school_students.html", "w", encoding='utf-8') as f:
    f.write(html_table)